// rename this to env.js
export const APP_IP = '127.0.0.1';
export const APP_PORT = 3000;
export const JWT_SECRET = 'jwt_secret_phrase_goes_here';

// TEMPORARY SETTINGS FOR DATA MIGRATION FROM OLD DB
export const PG_HOST = '0.0.0.0';
export const PG_PORT = 5432;
export const PG_DATABASE = 'dbname';
export const PG_USER = 'dbuser';
export const PG_PASSWORD = 'dbpass';

// DEBUG
export const RECHECK_DB = true;
// any users that need to be present after db creation; register to get hashedPassword
export const INIT_USERS = [
  {
    id: 0,
    username: 'admin',
    hashedPassword: '$2b$10$IZopuhO.eoXD1P2SmWQB1eMDBbgeCCYqZizkaV8fSQ7ZXZzF1enC2',
    isAdmin: 1,
  },
];

// BACKUP
export const DO_BACKUP = true;
export const FOOD_BATCH_BACKUP_DIR_NAME = 'backups/food/batch';
export const FOOD_DAY_BACKUP_DIR_NAME = 'backups/food/day';
export const WEIGHT_BATCH_BACKUP_DIR_NAME = 'backups/weights/batch';
export const WEIGHT_DAY_BACKUP_DIR_NAME = 'backups/weights/day';

// LOGGING
export const LOG_LEVEL = 'verbose'; // possible values: 'off', 'error', 'verbose'
export const LOG_FILE = 'app.log';
